<% content_for :title, "Dashboard" %>

<div class="stack">
  TODO Add relevant actions/context here

  <% if @user.store %>
    <section>
      <h2>Your Store</h2>
      <p><%= link_to "View Store", store_path %></p>
      <p><%= link_to "Edit Store Settings", edit_store_path %></p>
    </section>
  <% else %>
    <section>
      <h2>Create Your Store</h2>
      <%= link_to "Set up your store", new_store_path %>
    </section>
  <% end %>

  <p>
    show store link if owner
  </p>

  <p>
    show upcoming orders for regular users, etc
  </p>
</div>
