<% content_for :title, "Dashboard" %>

<% if @user.store %>
  <section>
    <p>
      <%= link_to storefront_path(@user.store.slug), class: "flex items-center" do %>
        <box-icon name="store" size="md"></box-icon>
        Storefront
      <% end %>
    </p>
    <p><%= link_to "Manage Store", store_path %></p>
  </section>

  <section>
    <% @user.store.events.each do |event| %>
      <%= event.name %>
    <% end %>
  </section>
<% else %>
  <section>
    <h2>Create Your Store</h2>
    <%= link_to "Set up your store", new_store_path %>
  </section>
<% end %>
