<% content_for :title, "Dashboard" %>

<div class="stack gap-lg">
  <h2 class="fs-lg">Welcome, <%= @user.username %></h2>
  <p>Your public page is available at: <%= link_to owner_url(@user.username), owner_path(@user.username) %></p>
  <p>This is a placeholder dashboard. You'll be able to create and manage orders here.</p>
</div>
