<% content_for :title, "Dashboard" %>

<h1>Dashboard</h1>

<% if @user.store %>
  <section>
    <p><%= link_to "View Public Storefront", storefront_path(@user.store.slug) %></p>
    <p><%= link_to "Manage Store", store_path %></p>
  </section>

  <!--  TODO Move to partial?-->
  <section>
    <% @user.store.events.each do |event| %>
      <%= event.name %>
    <% end %>
  </section>
<% else %>
  <section>
    <h2>Create Your Store</h2>
    <%= link_to "Set up your store", new_store_path %>
  </section>
<% end %>
