<% content_for :title, @owner.username %>

<div class="stack gap-3">
  <h2 class="fs-4"><%= @owner.username %></h2>
  <p>This is <%= @owner.username %>'s public page. Upcoming orders will appear here.</p>
  <% unless authenticated? %>
    <p>
      Are you <%= @owner.username %>? <%= link_to "Sign in to manage your orders", new_session_path %>.
    </p>
  <% end %>
</div>
