<p>Hello,</p>

<p>Here is your sign-in link to Bread Orders:</p>

<p>
  <a href="<%= @url %>">Sign in</a>
  <br>
  Or copy and paste this URL into your browser:
  <br>
  <code><%= @url %></code>
  </p>

<p>This link will expire in 30 minutes. If you didn't request it, you can ignore this email.</p>
