<header >
  <div class="flex items-center justify-between">
    <%= link_to dashboard_path do %>
      <box-icon size="lg" name="baguette"></box-icon>
    <% end %>
    <nav>
      <% if authenticated? %>
        <details>
          <summary class="flex items-center">
            <box-icon name="user" size="md"></box-icon>
          </summary>

          <ul class="stack">
            <li class="dropdown-header">
              Logged in as<br>
              <strong style="color: #333;"><%= current_user.email %></strong>
            </li>
            <li class="dropdown-action">
              <%= button_to "Sign out", session_path, method: :delete %>
            </li>
          </ul>
        </details>
      <% else %>
        <%= link_to "Sign in", new_session_path %>
      <% end %>
    </nav>
  </div>
</header>
